# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Final-Year-Project.iml
# Datasource local storage ignored files
/../../../../../../../:\Users\steve\Final-Year-Project\.idea\.idea.Final-Year-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
